{{- $options := . }}
{{/* Merge the default options. */}}
{{- if and $options (ne $options site.Params.giscus) }}
  {{- $options = merge site.Params.giscus $options }}
{{- end }}
{{- with $options }}
  {{- $repo := .repo }}
  {{- $repoId := default .repo_id .repoId }}
  {{- $category := .category }}
  {{- $categoryId := default .category_id .categoryId }}
  {{- if or (not $repo) (not $category) (not $categoryId) }}
    {{- errorf "[giscus] both of repo, category and category_id are required." }}
  {{- end }}
  {{/* Fetch repo ID from GitHub REST API if omitted. */}}
  {{- if not $repoId }}
    {{- $repoId = partialCached "giscus/repo-id" $repo $repo }}
  {{- end }}
  {{- $langsMapping := dict
    "en-us" "en"
    "zh-cn" "zh-CN"
    "zh-tw" "zh-TW"
    "zh-hk" "zh-TW"
    "zh-hans" "zh-CN"
    "zh-hant" "zh-TW"
  -}}
  {{- $langsMapping = merge $langsMapping (default .languages_mapping .languagesMapping) }}
  {{- $lang := site.Language.Lang }}
  {{- with index $langsMapping $lang }}{{ $lang = . }}{{ end }}
  <script
    src="{{ .endpoint | strings.TrimSuffix "/" }}/client.js"
    data-repo="{{ $repo }}"
    data-repo-id="{{ $repoId }}"
    data-category="{{ $category }}"
    data-category-id="{{ $categoryId }}"
    data-mapping="{{ .mapping }}"
    data-reactions-enabled="{{ cond .reactions "1" "0" }}"
    data-input-position="{{ default .input_position .inputPosition }}"
    data-theme="{{ .theme }}"
    data-lang="{{ $lang }}"
    {{ if default .lazy_loading .lazyLoading }}data-loading="lazy"{{ end }}
    {{ if default .strict_matching .strictMatching }}data-strict="1"{{ end }}
    crossorigin="anonymous"
    onload="document.body.dispatchEvent(new Event('giscus-load'))"
    async
  ></script>
{{- end -}}
